body{
    background-color: gray;
}
.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    padding: 20px;
}
.container div{
    border: 2px solid;
    text-align: center;
}
