body{
    background-color: gray;
    color: white;
}
p {
    text-align: center;
}
.frm{
    background-color: rgb(46, 45, 45);
    text-align: center;

}
#sndmsg{
    background-color: blue;
    color: white;
}