:root {
    --main-color: #071e2e;
    --main-font-color: white;
    --padding: 20px;
    --normal-text-size: 16px;
    --second-color: #03afed;
}

body{
    font-family: "Poppins",sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-color);
 
}
