body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        rgb(192, 179, 179),
        rgb(49, 36, 36)
    );
    color: white;
}
ul{
    
    
}
#frdev{
    color: aqua;
}
.btm{
    color: rgb(244, 244, 246);
    background-color: blue;
}
.btm2{
    color: blue;
    background-color: black;
    border: solid;

}
.findme{
    color: rgb(3, 3, 3);

}
.ftr{
    background-color: rgb(84, 110, 110);
}
