*{
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #071e2e;
  --main-font-color: white;
  --padding: 20px;
  --normal-text-size: 16px;
  --second-color: #03afed;
}
html, body, .page-container, .main-container{
  height: 100%;
}  
body{
  font-family: "Poppins",sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-color);

}

.page-container{
padding: 0 142px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows:66px ;
border: 2px solid red;
}

.header-container{
  border: 2px solid red;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
height: 64px;
}
 .main-image-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  background-color: #071e2e;
border: 2px solid red;
  
}
ul {
display: flex;
gap: 30px;
font-size: 18px;
list-style: none;
} 
a {
  text-decoration: none;
  z-index: 99;
  border-bottom: 2px solid transparent;
  color: white;
  transition: all 0.5s linear;
  padding-bottom: 2px;

}

nav a:hover{
  display: flex ;
  padding: 5px;
  color: var(--second-color);
  border-bottom: 2px solid var(--second-color);
  }
  .logo{
    
    font-size: 20px;
    transition: all 0.5s linear;
  }
div .logo:hover{
  padding: 3px;
  color: var(--second-color);
  border-bottom: 2px solid #03afed;
}

/*
.main-container{
  justify-content: space-between;
  display: flex;
  border: 2px solid ;
  height: 600px;

}
.main-text-container{
  letter-spacing: 2px;
  width: 60%;  
}
.main-text-name{
  font-size: 64px;
  font-weight: 600;
  line-height: 84px;
  margin-bottom: 0;
}
.frontend-developer-text{
  color: #03afed;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  padding-bottom: 32px;
}
.text-about-me{
  font-size: 18px;
  margin-bottom: 30px;
}


.light-button{
  background-color: var(--second-color) ;
  border-radius: 8px;
  border: 2px solid #03afed;
  padding: 12px 48px;
  color: white;
  transition: all 2s;
  cursor: pointer;
}
.light-button:hover{
  
  padding: 12px 48px;
  background-color: #071e2e;
  color: #03afed;
  border: 2px solid #03afed;
  border-radius: 8px;
}

.dark-buttun{
  padding: 12px 48px;
  background-color: #071e2e;
  color: #03afed;
  border: 2px solid #03afed;
  border-radius: 8px;
  transition: all 2s;
  cursor: pointer;
}

.dark-buttun:hover{
  background-color: var(--second-color) ;
  border-radius: 8px;
  border: 2px solid #03afed;
  padding: 12px 48px;
  color: white;
}
.footer{

}
.findme{
  color: #03afed;
}
@media only screen and (max-width: 750px) {
.main-container{
  flex-direction: column;
}
.main-image-container{
  order: 1;
}
.main-text-container{
  order: 2;
}
.main-text-container{
  width: 100%;
}

}

@media only screen and (max-width: 1000px) {
.page-container{
  padding: 0 3%;
}
} */